body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;
    text-decoration: none;

}

a:link, a:visited , a:active{
    text-decoration: none;
    color: inherit;
}

.landing-gradient {}

.yellow{

    border-bottom: 2px solid rgb(212, 226, 14);;
    
}

.vp-50 {
    min-height: 50vh;
}

.boldFont{
    font-weight: 600;
    font-style: italic;
    font: bold;
}


.landing-gradient {
    background: rgb(0, 4, 9);
    background: linear-gradient(180deg, rgba(0, 4, 9, 1) 0%, rgba(4, 11, 21, 1) 68%, rgba(5, 16, 31, 1) 77%, rgba(29, 65, 112, 1) 99%);
}

.top-stack {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none;
    font-size: 1.5em;
}

.top-stack:hover, .btm-stack:hover {
    color: rgb(212, 226, 14);
    text-decoration: underline 2px;
}

.btm-stack {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none;
    font-size: 1.5em;
}

.round {
    height: 76vw;
    width: 76vw;
    object-fit: cover;
    border-radius: 70%;
    border: 3px solid rgb(212, 226, 14);
    padding: 0;
    margin: 0;
}

.ME-page {
    background: rgb(29, 65, 112);
    background: linear-gradient(180deg, rgba(29, 65, 112, 1) 0%, rgba(12, 59, 120, 1) 53%, rgba(21, 77, 149, 1) 100%);
}
.ME2-page {
    background: rgb(21,77,149);
background: linear-gradient(180deg, rgba(21,77,149,1) 0%, rgba(40,104,187,1) 53%, rgba(25,124,255,1) 100%);
}

.words {
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.fullstop {
    color: yellow;
    font-size: 1.5em;
    padding-left: 4px;
}