.hi {
    background: linear-gradient(304deg, #0b9975, #57a146, #4d4ad2);
    background-size: 600% 600%;
    -webkit-animation: HI 23s ease infinite;
    -moz-animation: HI 23s ease infinite;
    animation: HI 23s ease infinite;
    min-height: 25vh;
   
}

@-webkit-keyframes HI {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes HI {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes HI {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
.h{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    
}
.app{
    background-color: violet;
}
.website{
    background-color: teal;
}
.design{
    background-color: greenyellow;
}

#lol{

    
}