body{
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    padding:0;
    
}
h1{
    padding: 0;
    margin: 0;
}
main{
    background-color: black;
    height: 100vh
}

#meSection{
    display: flex;
    justify-content: center;
    padding: 20px 10px 10px 10px;
    height: 40%;
  
}
#me{
    width: 300px;
    height: 300px;   
}

#myNameSection{
    min-height: 35%;
    text-align: center;
    
}
#answerSection{
    display:flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}

#hangUp{

    
}
#pickUp{

}